@import '../../styles.scss';

.header {
    padding: 0;
    margin: 0 0 2vh 0;
    background-color: $blueprint-white;
    height: 10vh;
    width: 100vw;
    position: inline-block;

    &__logo-box {
        position: absolute;
        top: 2vh;
        left: 2vw;
    }

    &__logo {
        height: 4rem;
    }
    
    &__text-box {
        text-align: center;
    }

    &__button-box {
        position: absolute;
        right: 0vw;
        top: 6.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
        height: 3vh;
    }
}

.heading-primary {
    position: relative;
    top: 2vh;
    color: $blueprint-grey;
    font-size: 3rem;
    align-self: center;
}
