@import '../../styles.scss';

.header {

    height: 20vh;
    position: inline-block;

    &__logo-box {
        position: fixed;
        top: 5%;
        left: 5%;
    }

    &__logo {
        height: 4rem;
    }
    
    &__text-box {
        // position: absolute;
        // top: 10%;
        // right: 20%;
        // transform: translate(-50%, -50%);
        text-align: center;
        
    }
}

.heading-primary {
    color: $blueprint-white;
    font-size: 4rem;
    align-self: center;
}
