*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $blueprint-grey;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    max-width: 100%;
    min-width: 100%;
}

::selection {
    background-color: $blueprint-grey;
    color: $blueprint-white;
}