<h1 class="heading">About</h1>
<h2 class="description">Description</h2>
<p class="">Bacon ipsum dolor amet shankle salami doner pork boudin bacon, strip steak buffalo meatloaf short loin. Pancetta corned
beef pork chop alcatra t-bone landjaeger sirloin jowl sausage turkey. Capicola meatball.</p>
<h2 class="contributors">Contributors</h2>
<ul class="">
  <li>AJ Tran</li>
  <li>Josh Sevy</li>
  <li>Ash Abbasi</li>
  <li>Nicole Latifi</li>
  <li>Michael Evans</li>
  <li>Linus Leas</li>
</ul>
<h2>Tech</h2>
<ul>
  <li>Angular</li>
  <li>TypeScript</li>
  <li>Flask</li>
  <li>Python</li>
  <li>Travis CI</li>
</ul>


