
<div class="map-container">
	
	<div class="map-parent">
		<div class="button-container fe1">
			<div class="button-box">
				<a class='btn btn--white' style=" background-color: #caf0f8; font-size: 15px;" (click)="this.openDialog()">Mod 1
					FrontEnd</a>
				<span style="--i:1;"></span>
				<span style="--i:2;"></span>
				<span style="--i:3;"></span>
				<span style="--i:4;"></span>
				<span style="--i:5;"></span>
				<span style="--i:6;"></span>
				<span style="--i:7;"></span>
				<span style="--i:8;"></span>
				<span style="--i:9;"></span>
				<span style="--i:10;"></span>
			</div>
		</div>
		
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 1098.4 702" style="enable-background:new 0 0 1098.4 702;" xml:space="preserve">

		<g id="Layer_5">
			<rect x="33" y="90.5" class="st0" width="154.4" height="17.4"/>
			
			<text transform="matrix(1 0 0 1 39.7101 105.4595)" class="st1 st2">
				<a mat-button style="color:coral" class='map-btn' (click)="this.openDialog()">Mod 1 FrontEnd</a>
				</text>
		<!-- 	
			<defs>
				<g class="segment" transform="rotate(72)">
					<path class="segment-fill" d="M0,0 v-200 a40,40 0 0,0 -62,10 z" />
					<path class="segment-edge" d="M0,-200 a40,40 0 0,0 -62,10" />
				</g>
			</defs>
			-->
			<rect x="274.3" y="90.5" class="st0" width="154.4" height="17.4"/>
			<text transform="matrix(1 0 0 1 284.2353 105.4595)" class="st1 st2"><a (click)="this.openDialog()">Mod 1 BackEnd</a></text>
			<rect x="488.5" y="90.5" class="st0" width="154.4" height="17.4"/>
			<text transform="matrix(1 0 0 1 495.2738 105.4595)" class="st1 st2"><a (click)="this.openDialog()">Mod 2 FrontEnd</a></text>
			<rect x="697.2" y="90.5" class="st0" width="154.4" height="17.4"/>
			<text transform="matrix(1 0 0 1 707.1942 105.4595)" class="st1 st2"><a (click)="this.openDialog()">Mod 2 BackEnd</a></text>
			<rect x="910.3" y="90.5" class="st0" width="154.4" height="17.4"/>
			<text transform="matrix(1 0 0 1 959.8251 105.4595)" class="st1 st2"><a (click)="this.openDialog()">Mod 0</a></text>
			<rect x="9.4" y="548.4" class="st0" width="112.7" height="47.6"/>
			<text transform="matrix(1 0 0 1 37.9661 563.2819)"><tspan x="0" y="0" class="st1 st2"><a (click)="this.openDialog()">Mod 3</a></tspan><tspan x="-12.8" y="25.2" class="st1 st2">FrontEnd</tspan></text>
			<rect x="149" y="548.4" class="st0" width="100.8" height="40.7"/>
			<text transform="matrix(1 0 0 1 171.6586 563.2819)"><tspan x="0" y="0" class="st1 st2"><a (click)="this.openDialog()">Mod 3</a></tspan><tspan x="-9.6" y="25.2" class="st1 st2">BackEnd</tspan></text>
			<rect x="294.2" y="550.7" class="st0" width="100.8" height="40.7"/>
			<text transform="matrix(1 0 0 1 319.1468 565.6488)" class="st1 st2">Mod4 </text>
			<rect x="451.8" y="548.4" class="st0" width="100.8" height="40.7"/>
			<text transform="matrix(1 0 0 1 476.6806 563.2819)"><tspan x="0" y="0" class="st1 st2"><a (click)="this.openDialog()">Mod4</a></tspan><tspan x="7.5" y="25.2" class="st1 st2">Xtra</tspan></text>
			<rect x="635.4" y="548.8" class="st0" width="154.4" height="17.4"/>
			<text transform="matrix(1 0 0 1 673.7614 563.6611)" class="st1 st2"><a (click)="this.openDialog()">ClarkHall</a></text>
			<rect x="355.7" y="331.6" class="st0" width="308.9" height="31"/>
			<text transform="matrix(1 0 0 1 400.8616 357.839)" class="st1 st3">The Basement</text>
		</g>
		<g id="Layer_4">
			
				<!-- <image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 829.5187 5.3779)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 199.3993 10.6827)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 404.3591 5.8793)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 616.9389 6.4268)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 1044.271 5.3779)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 4.3083 650.0555)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 137.9577 650.0555)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 270.6491 650.0555)">
			</image>
			
				<image style="overflow:visible;" width="225" height="225" xlink:href="img/turingLogo.png"  transform="matrix(0.1868 0 0 0.1901 448.0197 650.0555)">
			</image> -->
		</g>
		<g id="Layer_3">
			<line class="st4" x1="0" y1="174.7" x2="896" y2="174.7"/>
			<line class="st4" x1="882.3" y1="1" x2="882.5" y2="178.9"/>
			<line class="st4" x1="672.5" y1="1" x2="672.5" y2="181"/>
			<line class="st4" x1="461" y1="1" x2="461" y2="181"/>
			<line class="st4" x1="253.2" y1="1.5" x2="253.2" y2="181"/>
			<line class="st4" x1="0" y1="406" x2="214.6" y2="406"/>
			<line class="st4" x1="209.4" y1="292.3" x2="209.4" y2="416.2"/>
			<line class="st4" x1="104.5" y1="287.3" x2="104.5" y2="416.2"/>
			<line class="st4" x1="131.7" y1="481.5" x2="131.8" y2="700"/>
			<line class="st4" x1="263.2" y1="478.2" x2="263.2" y2="700"/>
			<line class="st4" x1="439.5" y1="481.5" x2="439.5" y2="700"/>
			<line class="st4" x1="568.3" y1="481.5" x2="569.1" y2="700"/>
			<line class="st4" x1="279.9" y1="311.9" x2="682.6" y2="311.9"/>
			<line class="st4" x1="348.5" y1="301.5" x2="348.5" y2="406"/>
			<line class="st4" x1="329" y1="389.1" x2="879.6" y2="389.1"/>
			<line class="st4" x1="873.5" y1="297.1" x2="873.5" y2="397"/>
			<line class="st4" x1="0" y1="490" x2="892.8" y2="490"/>
			<line class="st4" x1="0" y1="297.1" x2="220.4" y2="297.1"/>
			<path class="st4" d="M285.2,319.1c0-40.7,24.6-73.7,54.9-73.7"/>
			<line class="st4" x1="676.7" y1="297.1" x2="676.7" y2="397"/>
			<line class="st4" x1="672.5" y1="305.9" x2="683.4" y2="319.1"/>
			<line class="st4" x1="864.2" y1="479.1" x2="881.7" y2="500.4"/>
			<line class="st4" x1="342.3" y1="381.9" x2="354.1" y2="396.3"/>
			<line class="st4" x1="358.9" y1="303.1" x2="338.8" y2="321.9"/>
			<line class="st4" x1="892.5" y1="165.3" x2="875.7" y2="181"/>
			<line class="st4" x1="883.5" y1="379.7" x2="863.5" y2="398.5"/>
			<line class="st4" x1="219.4" y1="396.6" x2="199.3" y2="415.3"/>
			<line class="st4" x1="872.6" y1="466.3" x2="875.9" y2="695.5"/>
			<line class="st4" x1="686.8" y1="379.7" x2="666.7" y2="398.5"/>
			<line class="st4" x1="203.9" y1="290.5" x2="214.8" y2="303.8"/>
			<line class="st4" x1="671.3" y1="302.2" x2="682.2" y2="315.4"/>
			<line class="st4" x1="674.8" y1="296.6" x2="676.7" y2="397"/>
			<line class="st4" x1="689.3" y1="376.2" x2="669.2" y2="395"/>
			<line class="st4" x1="338.8" y1="380" x2="350.6" y2="394.4"/>
			<line class="st4" x1="361.5" y1="298.8" x2="341.5" y2="317.6"/>
			<path class="st4" d="M283.3,317.1c0-40.7,24.6-73.7,54.9-73.7"/>
			<line class="st4" x1="203.9" y1="288.3" x2="214.8" y2="301.5"/>
			<line class="st4" x1="214.6" y1="397.5" x2="194.5" y2="416.2"/>
			<line class="st4" x1="-11.6" y1="172.9" x2="884.5" y2="172.9"/>
			<line class="st4" x1="251.2" y1="2.7" x2="251.2" y2="182.3"/>
			<line class="st4" x1="459" y1="1.2" x2="459" y2="181.2"/>
			<line class="st4" x1="670.5" y1="1.8" x2="670.5" y2="181.9"/>
			<line class="st4" x1="890.9" y1="163.7" x2="874.1" y2="179.3"/>
			<line class="st4" x1="878.4" y1="2" x2="878.6" y2="180"/>
			<line class="st4" x1="871.5" y1="300.4" x2="871.5" y2="400.4"/>
			<line class="st4" x1="4.3" y1="492.1" x2="897.1" y2="492.1"/>
			<line class="st4" x1="259.8" y1="485.6" x2="259.8" y2="701.6"/>
			<line class="st4" x1="129.7" y1="483.2" x2="129.8" y2="701.6"/>
			<line class="st4" x1="863.2" y1="483.8" x2="876.9" y2="500.4"/>
			<line class="st4" x1="884.9" y1="377.3" x2="864.8" y2="396"/>
		</g>
		<g id="Layer_1">
			<g id="Layer_1_1_">
				<g id="Layer_1_2_">
					<g id="XMLID_2_">
						<g>
						</g>
						<g>
							<path class="st5" d="M283.3,311.9c0-34.9,21.4-63.2,47.8-63.2"/>
							<polyline class="st5" points="346.5,388.9 369.6,388.9 674.8,388.9 871.5,388.9 					"/>
							<polyline class="st5" points="283.3,311.9 346.5,311.9 674.8,311.9 					"/>
							<polyline class="st5" points="207.4,405.8 102.9,405.8 -2,405.8 					"/>
							<line class="st5" x1="102.6" y1="297" x2="102.9" y2="405.8"/>
							<line class="st5" x1="207.4" y1="297" x2="207.4" y2="405.8"/>
							<line class="st5" x1="261.2" y1="699.8" x2="261.2" y2="489.8"/>
							<line class="st5" x1="129.8" y1="699.8" x2="129.7" y2="489.8"/>
							<line class="st5" x1="437.8" y1="489.8" x2="437.5" y2="699.8"/>
							<line class="st5" x1="874.2" y1="490.7" x2="872.8" y2="701.2"/>
							<line class="st5" x1="251.2" y1="174.5" x2="251.2" y2="1.3"/>
							<line class="st5" x1="459.9" y1="174" x2="459" y2="0.8"/>
							<line class="st5" x1="670.5" y1="0.8" x2="670.5" y2="174"/>
							<line class="st5" x1="880.3" y1="0.8" x2="880.9" y2="174"/>
							<polyline class="st5" points="871.5,311.8 871.5,388.9 871.5,389.9 					"/>
							<polyline class="st5" points="674.8,312.9 674.8,388.9 674.8,389.8 					"/>
							<line class="st5" x1="567.2" y1="699.8" x2="568.2" y2="489.8"/>
							<line class="st5" x1="1095" y1="700.6" x2="1095" y2="699.8"/>
							<polyline class="st5" points="346.5,389.9 346.5,388.9 346.5,312.8 					"/>
						</g>
					</g>
				</g>
			</g>
			<line class="st0" x1="180" y1="145" x2="178.6" y2="145"/>
			<line class="st6" x1="195" y1="217.2" x2="195" y2="217.2"/>
			<rect y="0" class="st7" width="1098.4" height="702"/>
		</g>
		</svg>
	</div>
</div>


<app-button>
	<a style="color:coral" class='map-btn' (click)="this.openDialog()">Mod 1 FrontEnd</a>
</app-button>

