@import '../../styles.scss';
svg {
    margin: 4vh 2vw;
}

.map-btn {
    color: coral;
}

.segment {
    fill: black;
}
.segment-fill {
  fill: black;
  stroke: blue;
  stroke-width: yellow;
  font-size: 120px;
    
}


.segment-fill:hover {
  fill: black;
//   stroke: var(--segment-fill-stroke-hover);
}

.segment-edge {
  fill: black;
//   stroke: var(--segment-edge-stroke);
//   stroke-width: var(--segment-edge-stroke-width);
}

.segment-edge:hover {
    // stroke: var(--segment-edge-stroke-hover);
    
}
// ------------------

.st0 {
    fill:none;
}

.st1 {
    font-family:'MyriadPro-Regular';
}

.st2 {
    font-size: 21px;
    fill: $blueprint-white;
    stroke: $blueprint-draft;
}

.st3 {
    font-size: 37px;
    fill: $blueprint-white;
    stroke: $blueprint-draft;
}

.st4 {
    fill: none;
    stroke: $blueprint-draft;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st5 {
    fill: none;
    stroke: $blueprint-white;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st6 {
    fill: none;
    stroke: $blueprint-white;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st7 {
    fill: none;
    stroke: $blueprint-white;
    stroke-width: 3;
    stroke-miterlimit: 10;
}