@import './sass/abstracts/variables';
@import './sass/abstracts/mixins';
@import './sass/components/button';
@import './sass/base/base';
@import './sass/base/animations';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
